@charset "UTF-8";
/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
  margin: 0;
  padding: 0;
}

/* Reiknum stærð á öllum boxum sem border-box */
html {
  box-sizing: border-box;
}

/* og látum erfast á allt */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* hjálpar class sem felur sjónrænt en skjálesarar lesa */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*** Allt meginmál notar open sans ***/
html,
input,
select,
button {
  font-family: var(--font-family-base);
}

/*** Allar fyrirsagnir nota Matemasie regular ***/
h1,
h2,
h3,
legend {
  font-family: var(--font-family-heading);
}

/** Lætur myndir aldrei taka meira pláss en foreldri skilgreinir **/
img {
  max-width: 100%;
}

/** Litur á hlekkjum erfist frá foreldri **/
a {
  color: inherit;
}

/** „Til baka á forsíðu“ hlekkur **/
.back {
  margin-top: var(--spacing);
}

/** Meginmál og efni forsíðu **/
main {
  width: 100%;
}

/**
     * notum þetta til að fá bil á milli eininga _almennt_
     * en ekki að hver eining þurfi að huga að bili
     */
main > .content {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);
}

/* Stillingar */
:root {
  --font-size-base: 16px;
  --font-size-headings: 1.5rem;
  /* Grunn bilið okkar er 1rem == 16px */
  --spacing: 1rem;
  /* Bil á milli „stærri“ eininga (header, efnisbox, footer) */
  --vertical-space: calc(var(--gutter) * 1);
  --vertical-space-large: calc(var(--gutter) * 1.5);
  /* Hámarks og lágmarks breidd á efni */
  --max-width: 1600px;
  --min-width-image: 409px;
  --max-width-image: 300px;
  --max-width-footer-section: 250px;
  /* Border breiddir */
  --border-width: 1px;
  --border-radius-regular: 5px;
  --border-radius-image: 10px;
  --border-regular: 1px solid #000; /* todo longhand */
  --border-with-background: 4px solid #c9b;
  /* Grid stillingar */
  --columns: 12;
  --gutter: 30px;
  --offset: 20px;
  /* Breidd á efni með offset */
  --width-offset: calc(100% - (2 * var(--offset)));
  /* Litir */
  /** Litir með nafni **/
  --color-grey: #FAFAFA;
  --color-brown: #E3CDB1;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-beige: #F7F1EB;
  /** Litir með notkun **/
  --color-background-primary: var(--color-white);
  --color-background-secondary: var(--color-brown);
  --color-background-book: var(--color-beige);
  /* Letur stillingar */
  --font-base-size: 1rem;
  --font-family-base: "Open Sans", arial, helvetica, sans-serif;
  --font-family-heading: "Matemasie-Regular", "Comic Sans MS", cursive;
  /* Transitions */
  --transition-time-short: 300ms;
  --transition-time-long: 600ms;
  --transition-timing-function: ease-in-out;
}

/** Cards **/
.cards {
  display: grid;
  grid-template-rows: auto;
  gap: var(--vertical-space);
  justify-items: center;
  width: 100%;
}

.cards > .title {
  width: 100%;
  text-align: center;
}

.cards > .content {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* Maintain 12-column grid */
  gap: var(--gutter);
}

@media (width >= 700px) {
  .cards > .content {
    grid-template-columns: repeat(12, 1fr);
    gap: var(--gutter);
    grid-template-rows: auto;
  }
}
/** Card **/
.card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (width >= 700px) {
  .card {
    grid-column: span 4;
  }
}
.card > .image {
  width: 100%;
}

.card > .image img {
  display: block;
  border-top-left-radius: var(--border-radius-regular);
  border-top-right-radius: var(--border-radius-regular);
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 50% 50%;
}

.card > .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  gap: var(--spacing);
  padding: calc(var(--spacing) / 2);
  border-top: 0;
}

/**
       * notum nýja selectora! brotið niður
       * .card            <- veljum öll .card
       * :not(            <- nema, við viljum ef _ekki_...
       *   :has(> .image) <- .image sem strangt barn .card
       * )                <- endir á :not()
       * > .content       <- sem er strax barn af .card
       * Þ.e.a.s. fyrir .card sem hefur ekki .image, setja border + radíus á allt .content
       */
.card:not(:has(> .image)) > .content {
  border: var(--border-regular);
  border-radius: var(--border-radius-regular);
}

.card > .content > .text {
  flex: 1;
}

.card > .content > .actions {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing);
  margin-top: var(--spacing);
}

.wrapper {
  /* Notum grid hér til að setja upp bil á milli header, meginmáls og fóts */
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  /* grid items eru miðjuð */
  justify-items: center;
  gap: var(--vertical-space);
  width: 100%;
  min-height: 100vh;
}

.wrapper .wrapper-content {
  width: var(--width-offset);
  max-width: var(--max-width);
}

@media (width >= 800px) {
  .wrapper .wrapper-content {
    display: grid;
    gap: var(--gutter);
  }
}
.wrapper-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--max-navigation-height);
  background-color: var(--color-background-secondary);
}

.navigation {
  display: flex;
  width: var(--max-width);
  justify-content: space-between;
}
@media (max-width: 600px) {
  .navigation {
    margin: 0 var(--spacing);
  }
}

.navigation > ul {
  display: flex;
  list-style: none;
  gap: 5rem;
}
@media (max-width: 600px) {
  .navigation > ul {
    display: none;
  }
}

.navigation > ul li a {
  text-decoration: none;
  font-size: 20px;
}

.menu-icon {
  display: none;
}
@media (max-width: 600px) {
  .menu-icon {
    display: block;
  }
}

.wrapper-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--color-background-secondary);
  margin-bottom: 6cqh;
}

.intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  width: var(--max-width);
}

.intro-description {
  display: flex;
  width: 552px;
  font-size: 18px;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.intro-description p:first-of-type {
  font-size: 16px;
  color: var(--color-brown);
  font-family: var(--font-family-base);
}

.intro-description p {
  line-height: 2;
  font-family: var(--font-family-base);
  color: var(--color-light-gray);
}

.intro-description h1 {
  font-size: 60px;
}

.button {
  display: inline-flex;
  align-items: center;
  font-family: var(--font-family-base);
  justify-content: center;
  border: var(--border-button);
  border-width: var(--border-width);
  width: var(--button-width);
  height: var(--button-height);
  color: var(--color-brown);
  font-size: 1rem;
  text-decoration: none;
  background: linear-gradient(90deg, var(--color-background-secondary) 50%, var(--color-brown) 50%);
  background-size: 200% 50%;
  background-position: 0 0;
  transition: background-position var(--transition-time-short) var(--transition-timing-function), color var(--transition-time-short) var(--transition-timing-function), border-color var(--transition-time-short) var(--transition-timing-function);
}

.button:hover {
  background-position: -100% 0;
  color: var(--color-white);
}

/*** Leturgerðir sem við sækjum úr fonts/ möppu ***/
@font-face {
  font-family: PlayfairDisplay-Regular;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/PlayfairDisplay-Regular.ttf") format("woff2");
}

/*# sourceMappingURL=styles.css.map */
