/** Cards **/

.cards {
  display: grid;
  grid-template-rows: auto;
  gap: var(--vertical-space);
  justify-items: center;
  width: 100%;
}

.cards > .title {
  width: 100%;
  text-align: center;
}

.cards > .content {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* Maintain 12-column grid */
  gap: var(--gutter);
}

@media (width >= 700px) {
  .cards > .content {
    grid-template-columns: repeat(12, 1fr);
    gap: var(--gutter);
    grid-template-rows: auto;
  }
}
