/* Stillingar */

:root {
  --font-size-base: 16px;
  --font-size-headings: 1.5rem;


  /* Grunn bilið okkar er 1rem == 16px */
  --spacing: 1rem;

  /* Bil á milli „stærri“ eininga (header, efnisbox, footer) */
  --vertical-space: calc(var(--gutter) * 1);
  --vertical-space-large: calc(var(--gutter) * 1.5);

  /* Hámarks og lágmarks breidd á efni */
  --max-width: 1600px;
  --min-width-image: 409px;
  --max-width-image: 300px;
  --max-width-footer-section: 250px;
  --max-navigation-height: 130px;

  /* Border breiddir */
  --border-width: 1px;
  --border-radius-regular: 5px;
  --border-radius-image: 10px;
  --border-regular: 1px solid #000; /* todo longhand */
  --border-button: 1px solid var(--color-brown);
  --border-with-background: 4px solid #c9b;

  /* Button settings */

  --button-width: 250px;
  --button-height: 52px;

  /* Grid stillingar */
  --columns: 12;
  --gutter: 30px;
  --offset: 20px;

  /* Breidd á efni með offset */
  --width-offset: calc(100% - (2 * var(--offset)));

  /* Litir */

  /** Litir með nafni **/
  --color-grey: #FAFAFA;
  --color-brown: #E3CDB1;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-beige: #F7F1EB;
  --color-light-gray: #5E5B69;

  /** Litir með notkun **/
  --color-background-primary: var(--color-white);
  --color-background-secondary: var(--color-grey);
  --color-background-book: var(--color-beige);

  /* Letur stillingar */
  --font-base-size: 1rem;
  --font-family-base: "Poppins", arial, helvetica, sans-serif;
  --font-family-heading: "PlayfairDisplay-Regular", "MS comic Sans", cursive;

  /* Transitions */
  --transition-time-short: 300ms;
  --transition-time-long: 600ms;
  --transition-timing-function: ease-in-out;
}
