/*** Leturgerðir sem við sækjum úr fonts/ möppu ***/
@font-face {
  font-family: PlayfairDisplay-Regular;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/PlayfairDisplay-Regular.ttf") format("woff2");
}

.card-text {
  font-size: 14px;
  color: var(--color-text-gray);
}
