.wrapper {
  /* Notum grid hér til að setja upp bil á milli header, meginmáls og fóts */
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;

  /* grid items eru miðjuð */
  justify-items: center;
  width: 100%;
  min-height: 100vh;
}

.wrapper .wrapper-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--color-background-secondary);
  margin-bottom: 6cqh;
}

@media (width >= 800px) {
  .wrapper .wrapper-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--color-background-secondary);
    margin-bottom: 6cqh;
  }
}

.wrapper .wrapper-main {
  width: var(--width-offset);
  max-width: var(--max-width);
}

@media (width >= 800px) {
  .wrapper .wrapper-main {
    display: grid;
    gap: var(--gutter);
  }
}
